<link href="/stylesheets/footer.css" rel="stylesheet" type="text/css">
<footer class>
    <p class="footer-name">Made by Naman</p>
    <div class="images">
        <img src="/img/GitHub.png" alt="" class="footer-image" onclick="window.location.href='https://github.com/namandhingra19'">
        <img src="/img/linkdlin.png" alt="" class="footer-image" onclick="window.location.href='https://www.linkedin.com/in/naman-dhingra-10490911a'">
    </div>  
</footer>   